.bg-custom {
    background-color: red;
}

.navbar .nav-item:hover {
    background-color: white;
    color: #303f9f !important;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.6); /* Soft white shadow */
    transition: all 0.3s ease-in-out;
}
